# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
.venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
*.log

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# Environment
.env

# Coverage
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
